.horizontal{
display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}

.vertical{
display: flex;
flex-direction: column;
height: 200px;
align-items: center;
justify-content: space-around;
}