.anchor:link{
    color: white;
    background-color: black;
}

.anchor:visited{
    background-color: orange;
    color: green;
}

.some-button:active, .anchor:active{
    border: 3px solid red;
}

.anchor:hover{
    font-size: 24px;
}

.some-button:disabled {
    border: 3px dashed grey;
}
.some-button:hover:enabled{
    background-color: grey;
    color:white;
}

.search:focus{
    background-color: orange;
}

.confirm-checkbox:checked{
    margin-left: 20px;
}