*{
    /* задаем рамку */
    box-sizing: border-box; 
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article {
    margin: 8px;
    padding: 16px;
    background-color: bisque;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 300px;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}