* {
  box-sizing: border-box;
}
li {
  list-style: none;
}
.header {
  background-color: darkturquoise;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.nav-list {
  display: inline-block;
  margin: 0 auto;
  height: 40px;
}
.nav-item {
  height: 40px;
  margin-left: 16px;
  color: white;
  float: left;
  line-height: 40px;
}
main {
  background-color: beige;
  height: 5000px;
}
.head {
  position: relative;
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  margin: auto;
  z-index: 1;
  top: calc(50vh - 100px);
}
.ear {
  width: 40px;
  height: 60px;
  background-color: brown;
}
.ear_right {
  position: absolute;
  left: 200px;
  top: -60px;
}
.ear_left {
  position: absolute;
  right: 200px;
  top: -60px;
}
.eye {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: grey;
}
.eye_right {
  position: absolute;
  top: 80px;
  right: 40px;
}
.eye_left {
  position: absolute;
  top: 80px;
  left: 40px;
}